header{
    padding: 40px 0 20px 0;
    vertical-align: middle !important;
    text-align: center !important;
    font-size: 28px;
    height: 120px;
    font-weight: bold;
}
td, th {
    vertical-align: middle !important;
    text-align: center !important;
}
th {
    font-size: 25px;
}
td:hover{
    cursor:pointer;
}


.movie{
    height: 100px;
    width: 150px;
}

.sub_head {
    font-size: 20px;
}

.sub_head:hover, header{
    cursor:default;
}

.character {
    height: 60px;
    width: 150px;
}